# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
DVLA_API_KEY=DVLA_OPEN_DATA_API_KEY
DVLA_API_URL=https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry/v1/vehicles

MOT_API_CLIENT_ID=XXX
MOT_API_CLIENT_SECRET=XXX
MOT_API_KEY=XXX
MOT_API_URL=https://history.mot.api.gov.uk/v1/trade/vehicles/registration/
MOT_API_TOKEN_URL=XXX

MONGODB_URI=XXX

ALLOWED_API_URL=XXX

EBAY_APP_ID=XXX
EBAY_CERT_ID=XXX