@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Charles Wright";
	src: url("/fonts/CHARWRG_.TTF");
}

@layer base {
	:root {
		--background: #e8f0f2;
		--foreground: #2c3e50;

		--card: #ffffff;
		--card-foreground: #34495e;

		--popover: #ffffff;
		--popover-foreground: #34495e;

		--primary: #3498db;
		--primary-foreground: #ffffff;

		--secondary: #e74c3c;
		--secondary-foreground: #ffffff;

		--muted: #ecf0f1;
		--muted-foreground: #95a5a6;

		--accent: #1abc9c;
		--accent-foreground: #ffffff;

		--destructive: #e74c3c;
		--destructive-foreground: #ffffff;

		--border: #d5d8dc;
		--input: #ecf0f1;
		--ring: #2c3e50;

		--major: #ff6b6b85;
		--warning: #ffe66d85;
		--success: #2ecc7185;

		--header-footer-bg: #69a4b3;

		--plate: #ffd700;
		--plate-text: #000;
		--plate-font: "Charles Wright", sans-serif;

		--search: #003366;

		--radius: 0.5rem;
	}

	.dark {
		--background: #2c3e50;
		--foreground: #ecf0f1;

		--card: #34495e;
		--card-foreground: #ecf0f1;

		--popover: #34495e;
		--popover-foreground: #ecf0f1;

		--primary: #1abc9c;
		--primary-foreground: #2c3e50;

		--secondary: #e74c3c;
		--secondary-foreground: #2c3e50;

		--muted: #95a5a6;
		--muted-foreground: #2c3e50;

		--accent: #3498db;
		--accent-foreground: #2c3e50;

		--destructive: #e74c3c;
		--destructive-foreground: #2c3e50;

		--border: #5d6d7e;
		--input: #5d6d7e;
		--ring: #ecf0f1;

		--header-footer-bg: #72818f;

		--search: #66b3ff;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	#__next {
		@apply flex flex-col justify-between min-h-screen;
	}

	main {
		@apply h-full w-full py-4 px-4 md:px-10 flex justify-center flex-grow;
	}

	header,
	footer {
		background-color: var(--header-footer-bg);
		color: var(--foreground);
	}

	header {
		@apply md:py-5 md:px-10 px-4 py-2 text-center flex items-center justify-between;
	}
}
